---
import type { Preload } from '@/types/preload'

interface Props {
  title: string
  description: string
  preload?: Array<Preload>
  canonical?: string
  image?: string
}

const {
  title,
  description,
  preload,
  canonical,
  image = '/favicon.svg'
} = Astro.props as Props

const determineCanonicalURL = () => {
  if (Astro.url.host.includes('localhost')) return 'http://localhost:4321'
  return canonical || Astro.url.pathname
}

const canonicalURL = new URL(determineCanonicalURL(), Astro.site)
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta
  name="description"
  content={description}
/>

<link
  rel="preload"
  href="/fonts/FiraSans-Black.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>

<link
  rel="preload"
  href="/fonts/FiraSans-Bold.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>

<link
  rel="preload"
  href="/fonts/Pacifico-Regular.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>

<link
  rel="preload"
  href="/fonts/WorkSans.ttf"
  as="font"
  type="font/ttf"
  crossorigin
/>

{
  preload?.map(({ href, as, type, rel = 'preload', crossorigin }) => (
    <link
      {rel}
      {href}
      {as}
      {type}
      {crossorigin}
    />
  ))
}

<link
  rel="canonical"
  href={canonicalURL}
/>
<meta
  name="viewport"
  content="width=device-width"
/>
<meta
  name="theme-color"
  content="#885fff"
/>

<meta
  name="keywords"
  content="quasar, websites, design, freelancer, web developer, web design"
/>

<meta
  name="twitter:card"
  content="summary_large_image"
/>
<meta
  name="twitter:site"
  content="@iangelmanuel"
/>
<meta
  name="twitter:creator"
  content="@iangelmanuel"
/>
<meta
  name="twitter:title"
  content={title}
/>
<meta
  name="twitter:description"
  content={description}
/>
<meta
  name="twitter:image"
  content={new URL(image, Astro.url)}
/>

<meta
  property="og:image"
  content={new URL(image, Astro.url)}
/>
<meta
  property="og:title"
  content={title}
/>
<meta
  property="og:description"
  content={description}
/>
<meta
  property="og:url"
  content={Astro.url}
/>
<meta
  property="og:site_name"
  content="Quasar Design"
/>
<meta
  property="og:type"
  content="website"
/>
<meta
  property="og:locale"
  content="es_CO"
/>

<meta
  name="robots"
  content="index, follow"
/>
<meta
  name="googlebot"
  content="index, follow"
/>

<link
  rel="icon"
  type="image/svg+xml"
  href="/favicon.svg"
/>
