---
import SEO from "@/components/shared/SEO.astro"
import type { Preload } from "@/types/preload"

interface Props {
  title: string
  description: string
  preload?: Array<Preload>
  canonical?: string
  image?: string
}

const {
  title,
  description,
  preload = [],
  canonical = "",
  image = ""
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={title}
      description={description}
      preload={preload}
      canonical={canonical}
      image={image}
    />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
