---
import SEO from '@/components/shared/SEO.astro'
import Topmenu from '@/components/shared/Topmenu.astro'
import { ViewTransitions } from 'astro:transitions'
import type { Preload } from '@/types/preload'
import '@/styles/globals.css'

interface Props {
  title: string
  description: string
  preload?: Array<Preload>
  canonical?: string
  image?: string
}

const {
  title,
  description,
  preload = [],
  canonical = '',
  image = ''
} = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <SEO
      title={title}
      description={description}
      preload={preload}
      canonical={canonical}
      image={image}
    />
    <ViewTransitions fallback="swap" />
  </head>
  <body
    class="bg-quasar-darkest text-slate-200 selection:bg-quasar-light selection:text-white font-work-sans"
  >
    <Topmenu />
    <main>
      <slot />
    </main>
  </body>
</html>
